{% extends "base.html" %}

{% block content %}
<div class="border round">
    <h1 class="my-5">{{note.title}}</h1>
    <p>{{note.content}}</p>
    <p>Likes: {{note.count_likes}}</p>
    <p class="note-li">Created at: {{note.created_at}}</p>
    <p class="note-li">Updated at: {{note.updated_at}}</p>
    <p class="note-li">Id: {{note.id}}</p>    
    <p class="note-li">Author: {{note.author}}</p>
</div>    

<a href="{% url 'notes.list' %}" class="btn btn-secondary my-5">Back</a>
<a href="{% url 'notes.update' pk=note.id %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger">Delete</a>
{% endblock %}    
