<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartNotes List of Notes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>These are the notes:</h1>
    <ul>
        {% for note in notes_list %}
            <li>
                {{ note.title }}
                <p>{{note.id}} | {{ note.content }} | {{ note.count_likes }}</p>
            </li>
        {% endfor %}            
    </ul>
</body>

</html>